<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성 -->  
<mapper namespace="com.winreal.mapper.FileuploadMapper">

	<select id="getList" resultType="com.winreal.vo.FileuploadVO">
			select t.* 
      				, uploadPath||uuid||'_'||fileName savePath
        			, decode(filetype, 'I','s_'||uploadPath||uuid||'_'||fileName,'') s_savePath
				from tbl_attach t
				where bno=#{bno}
				<!-- bno가 일치하는 것만 조회 -->
	</select>
	
	<insert id="insert">
		insert into tbl_attach
			<!-- vo와 이름 동일하게 -->
			values(#{uuid}, #{uploadPath}, #{fileName}, #{filetype}, #{bno}) 
			<!-- $과 #은 statement와 prestatement차이 -->
	</insert>
	
	<delete id="delete">
		delete tbl_attach 
			where bno = #{bno} 
			and uuid = #{uuid}
	</delete>
	
	
</mapper>